* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans;
}

#root {
  background-color: #1A1B21;
  width: 317px;
  height: 750px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.info-image {
  width: 100%;
  height: 317px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-data {
  margin-top: 17px;
  color: white;
  font-family: Inter, sans;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-data > .name {
  font-weight: 600;
}

.info-data > .title {
  color: #F3BF99;
  font-weight: 400;
  font-size: 13px;
}

.info-data > .website-url {
  color: #F5F5F5;
  font-size: 10px;
  font-weight: 300;
  margin-top: 8px;
}

.info-buttons {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.info-email-btn, .info-linkedin-btn {
  width: 115px;
  padding: 9px 11px;
  border-radius: 6px;
  font-size: 14px;
  font-family: Inter, sans;
  font-weight: 400;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.info-email-btn {
  background-color: #FFFFFF;
  color: #374151;
}

.info-linkedin-btn {
  background-color: #5093E2;
  color: white;
}

.about {
  color: white;
  margin-top: 30px;
  padding: 0 35px;
}

.about > .about-title {
  font-size: 16px;
  font-weight: 700;
}

.about > .about-content {
  font-size: 10px;
  font-weight: 300;
  color: #DCDCDC;
  margin-top: 7px;
  line-height: 15px;
}

.interests {
  color: white;
  margin-top: 25px;
  padding: 0 35px;
}

.interests > h1 {
  font-size: 16px;
  font-weight: 700;
}

.interests > p {
  font-size: 10px;
  font-weight: 300;
  color: #DCDCDC;
  margin-top: 5px;
  line-height: 15px;
}

.footer {
  height: 64px;
  width: 100%;
  background-color: #161619;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer > a {
  height: 25px;
}